.round_icon{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button_round{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner-container {
    position: absolute; left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* for Chrome 只针对谷歌浏览器*/
.inner-container::-webkit-scrollbar {
    display: none;
}
.outer-container {
    position: relative;
    overflow: hidden;
}

